footer {
  background-color: $blue-900;
  color: $gray-200;

  @include box-shadow($box-shadow-sm);

  .footer-sections {
    justify-content: space-between;
  }

  .footer-section {
    margin-top: 2.5rem;
    p {
      margin-bottom: 0.625rem;
    }
    h6 {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }

  hr {
    border-color: rgba($gray-200, .2);
  }
}
