footer {
  background-color: $blue-300;
  @include box-shadow($box-shadow-sm);
  .footer-sections {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .footer-section {
    margin-top: 2.5rem;
    p {
      margin-bottom: 0.625rem;
    }
    hr {
      width: 100%;
    }
    h6 {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }
}
