@import "navbar";
@import "footer";

#app {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.spot {
  background-color: $spot-bg-color;
  @include border-radius($spot-border-radius);
  @include box-shadow($spot-box-shadow);
}

.spot-content {
  padding: 1rem;
}

.alert-dismissible {
  padding-left: 0;
  padding-right: 0;

  .close {
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
  }
}
