.navbar {
  background-color: $blue-900;
  color: $gray-200;

  @include box-shadow($navbar-box-shadow);

  @include media-breakpoint-down('xs') {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.nav {
  .nav-link:not(.active) {
    &:hover {
      background-color: lighten($primary, 38%);
    }
  }

  &.flex-column {
    .nav-link {
      &:first-child {
        @include border-radius($border-radius-lg $border-radius-lg 0 0);
      }

      &:last-child {
        @include border-radius(0 0 $border-radius-lg $border-radius-lg);
      }
    }
  }
}
